  <nav class="nav-extended navbar-color">
    <div class="nav-wrapper" style="height: 95px;">
      <a href="#" class="brand-logo center"><img src="./assets/hotel-harretchea-logo.png" width="150px" height="110px"></a>
      <ul id="nav-mobile" class="valign-wrapper left hide-on-med-and-down">
        <li data-target="slide-out" class="sidenav-trigger"><a style="cursor: pointer;"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
    <navtabs></navtabs>
  </nav>

