a{
	cursor: pointer;
}

.sidenav li:hover{
	background-color: #e4fefc;
	transition: 0ms;
}
.sidenav li a:hover{
	color: brown;
}
.sidenav li a i{
	color: brown;
	transition: 0ms;

}

.sidenav li a:active{
	color: #fff;
	transition: 2000ms;
}


