<ul id="slide-out" class="sidenav">
    <li [routerLinkActive]="['active']"><a class="waves-effect waves-light" [routerLinkActive]="['active']" routerLink="/iniciar-sesion"><i class="material-icons">input</i>Iniciar Sesion</a></li>
    <li [routerLinkActive]="['active']"><a class="waves-effect waves-light"  routerLink="/registrarse"><i class="material-icons">group_add</i>Registrarse</a></li>
    <li [routerLinkActive]="['active']"><a class="waves-effect waves-light"  routerLink="/alojamiento"><i class="material-icons">room</i>Alojamiento</a></li>
    <li [routerLinkActive]="['active']"><a class="waves-effect waves-light"  routerLink="/ofertas"><i class="material-icons">local_offer</i>Ofertas</a></li>
</ul>
