<div class="row">	
	<div class="nav-content as">
		<div class="container">	
	      <ul class="tabs tabs-transparent">
	        <li class="tab col s2 s2 indigo-text text-darken-4">
	        	<a class="waves-effect waves-teal" routerLink="/">Home</a>
	        </li>
	        <li class="tab col s2 s2 indigo-text text-darken-4" [routerLinkActive]="['active']">
	        	<a class="waves-effect waves-teal" [routerLink]='"/alojamiento"'>Alojamiento</a>
	        </li>
	        <li class="tab col s2 s2 indigo-text text-darken-4" [routerLinkActive]="['active']">
	        	<a class="waves-effect waves-teal" routerLink="/comidas-y-bebidas">Comidas & Bebidas </a>
	        </li>
	        <li class="tab col s2 s2 indigo-text text-darken-4" [routerLinkActive]="['active']">
	        	<a class="waves-effect waves-teal" routerLink="/estilo-de-vida">Estilo de Vida</a>
	        </li>
	        <li class="tab col s2 s2 indigo-text text-darken-4" [routerLinkActive]="['active']">
	        	<a class="waves-effect waves-teal" routerLink="/celebraciones">Celebraciones</a>
	        </li>
	        <li class="tab col s2 s2 indigo-text text-darken-4" [routerLinkActive]="['active']">
	        	<a class="waves-effect waves-teal" routerLink="/ofertas">Ofertas</a>
	        </li>
	        <div class="indicator indigo darken-4" style="z-index:1"></div>
	      </ul>
		</div>
	</div>
</div>