.as{
	background: #e4fefc;
}

.tabs .tab a {
 color: #3D3D3D;
 cursor: pointer;
}
.tabs .tab a.active {
  color: #3D3D3D;
}
.tabs .tab a:hover {
  color: #3D3D3D;
}
.tabs .tab a:focus {
  background-color: rgba(0, 255, 0, 0.1);
}
.tabs .tab a:focus.active {
  background-color: rgba(0, 255, 0, 0.1);
}
.tabs .indicator {
  background-color: #7ae3db;
}
