/* You can add global styles to this file, and also import other style files */

nav ul li.active {

    background-color: rgb(89, 219, 209);

}

.sidenav li.active{
	    background-color: rgb(89, 219, 209);

}