.fondo-beach{
	height: 100vh;
	background: url('/assets/piscina-bplaya.jpg') no-repeat;
	margin-top: -20px;
}

.contenedor-banner{
	padding: 35px 115px;
}
.reservar-boton{
	width: 160px;
	color: #fff;
	border: 2px solid #fff; 
	background-color: transparent; 
	text-transform: uppercase;
}